* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

H1 {
    padding: 30px 10px;
}


ul {
    padding: 5px;
}

ul li {
    padding: 5px;
    border-bottom: 1px solid #dfdfdf
}

div.box {
    padding: 10px;
    margin: 5px 0px 5px 5px;
    border:1px solid gray;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    height: 200px;
    color:white;
}

span {
    border-radius: 5px;
    background: gray;
    padding: 5px;
    display: inline-block;
    color:white;
}

span.livre , div.box.livre{
    background-color: green;
}


span.ocupado, div.box.ocupado {
    background-color: red;
}
